<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="908995">  <td>21/12/16 18:32:41</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;MomentumInvControlMethod.closeBrowser()[pri:0, instance:E2E_Testing.MomentumInvControlMethod@5f9be66c]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@120689887</td>   <td></td> </tr>
<tr bgcolor="908995">  <td>21/12/16 18:31:49</td>   <td>-52145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MomentumInvControlMethod.launchBrowser()[pri:0, instance:E2E_Testing.MomentumInvControlMethod@5f9be66c]">launchBrowser</td> 
  <td>main@120689887</td>   <td></td> </tr>
<tr bgcolor="908995">  <td>21/12/16 18:31:58</td>   <td>-43037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MomentumInvControlMethod.loginUser()[pri:0, instance:E2E_Testing.MomentumInvControlMethod@5f9be66c]">loginUser</td> 
  <td>main@120689887</td>   <td></td> </tr>
<tr bgcolor="908995">  <td>21/12/16 18:32:09</td>   <td>-31475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MomentumInvControlMethod.validateLogintoRegister()[pri:0, instance:E2E_Testing.MomentumInvControlMethod@5f9be66c]">validateLogintoRegister</td> 
  <td>main@120689887</td>   <td></td> </tr>
</table>
